<!DOCTYPE HTML>
<html lang="en">

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css')}}">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	<link rel="icon"
		type="image/png"
		href="{{ url_for( 'static', filename='images/logo.png')}}">
	<title>{{ title }}</title>
</head>
<body style='background-color: #F2EEEC'>
		<nav class="navbar navbar-custom navbar-fixed-top">
            <div class="navbar-logo" href=''>
                <img alt="welp!" height='60' width'120' src="{{ url_for('static', filename='images/welp.png') }}">
            </div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<div class="contents">
                        <div>
                            <div class="row">
                                {% for i in restaurant %}
                                <div class="col-md-4">
                                    <div class="thumbnail">
                                    <a href="{{ i.id }}">{{ i.name }}</a>
                                    <img alt="{{ i.name }}" src="../static/images/{{ i.image }}.png" style="max-width:240px; max-height:200px;">
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
					</div>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>