<!DOCTYPE HTML>
<html lang="en">

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/custom.css')}}">
    <style type="text/css">body {padding-top: 75px;}</style>
    <link rel="icon"
        type="image/png"
        href="{{ url_for( 'static', filename='images/logo.png')}}">
    <title>{{ title }}</title>
</head>
<body style='background-color: #F2EEEC'>
        <!-- Navbar -->
        <nav class="navbar navbar-custom navbar-fixed-top">
            <div class="container-fluid">
                <!-- Collapsed -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbar-left" href="#">
                    <img alt="welp!" height='50' width='100' src="{{ url_for('static', filename='images/welp.png') }}">
                </a>
                </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right" style="background-color:#C21511;">
                    <li class="active"><a href="/edit/" style="color: white;">Edit<span class="sr-only">(current)</span></a></li>
                    
                    <!-- Google Sign in -->
                    <li id='GoogleSignIn'>
                        <span class="g-signin"
                        data-scope="openid email"
                        data-clientid="{{ CLIENT_ID }}"
                        data-redirecturi="postmessage"
                        data-accesstype="offline"
                        data-cookiepolicy="single_host_origin"
                        data-callback="signInCallback"
                        data-approvalprompt="force">
                        </span>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                <div class="contents">
                    <div class="row">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                <div id="result"></div>
                            </div>
                        </div>
                        </div>

                        <div class="row">
                            {% for item in menu %}
                            <div class="col-md-4">
                                <div class="thumbnail" style="height:240px;">
                                <img alt="{{ item.name }}" src="../../static/images/{{ item.image }}.png" style="width:100%; max-width:240px; max-height: 200px;">
                                <h4>{{ item.name }}</h4>
                                <h5>{{ item.course }}</h5>
                                <p>{{ item.description }}</p>
                                <a>{{ item.price }}</a>
                                </br>
                                <div class="restricted">
                                    <a href="/{{ item.restaurant_id }}/menu/add/">add</a>
                                    <a href="{{ item.id }}/edit/">edit</a>
                                    <a href="{{ item.id }}/delete/">delete</a>
                                </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                    </div>
                </div>
                </div>
                <div class="col-md-2"></div>
            </div>
    </body>
    <script>
    function signInCallback(authResult) {
        if (authResult['code']) {
            $('#signinButton').attr('style', 'display: none;');
            $.ajax({
                type: 'POST',
                url: '/gconnect?state={{ STATE }}',
                processData: false,
                contentType: 'application/octet-stream; charset=utf-8',
                data: authResult['code'],
                success: function(result) {
                    if(result){
                        $('#result').html('Login Successfull!</br>' + result + '</br>Redirecting...')
                        setTimeout(function() {
                            window.location.href = "";
                            }, 4000);
                    } else if (authResult['error']) {
                        console.log('There was an error: ' + authResult['error']);
                    } else {
                        $('#result').html('Failed to make a server-side call. Check your configeration and console.');
                        }
                    }
            });
            }
    }
    </script>
    <script>
        if ("{{ username }}") {
            document.getElementById('GoogleSignIn').innerHTML = "<li><a href='/gdisconnect' style='color:white;'>Log out of {{ username }} </a><img src='{{ picture }}' style='width; 50px; height: 50px;'></img></li>";
        }
        else {
            console.log('Not logged in');
        }
    </script>
    <script>
        function hideRestricted(elements){
            elements = elements.length ? elements : [elements];
            for (var index =0; index < elements.length; index ++){
                elements[index].style.display = 'none';
            }
        }
        if ("{{ username }}") {
            console.log('logged in');
        }
        else{
            hideRestricted(document.querySelectorAll('.restricted'));
            hideRestricted(document.querySelector('.restricted'));
            hideRestricted(document.getElementById('restricted'));
            console.log('logged out');
        }

    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</body>